body {
    background-color: whitesmoke;
}

#label-progress-bar {
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.titulo{
    margin-top: 30px;
    background-color: white;
    width: 90%;
    padding-top: 20px;
}

/*-------------------------------------------------*/
.acompanha-pedido {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 90%;
}

#progress {
    height: 75px;
    width: 1000px;
}

/*-----------------------------------------------*/
.prox {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
}

#botao-prox {
    width: 300px;
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: #00ac8d;
    color: white;
    box-shadow: 3px 3px 3px 3px lightgray;
}

#botao-prox:hover {
    border-radius: 5px;
    border: none;
    background-color: lightgray;
    color: white;
    cursor: pointer;
}