body{
    background-color: whitesmoke;
}

.menu_horizontal {
    background-color:#00ac8d;
    height: 100px;
}

#logo-login {
    max-height: 100px;
    max-width: 150px;
    height: auto;
    width: auto;
}

.input-busca {
    border-radius: 20px 20px 20px 20px; 
    padding-left: 15px;
    width: 60%;
    border-style: none;
    margin-top: 32px;
    height: 35px;
    background-color: white;
    box-shadow: 2px 2px 2px 2px lightgrey;
}

#icone-busca {
    max-height: 25px;
    max-width: 37px;
    height: auto;
    width: auto;
    margin-top: 37px;
}

#icone-carrinho{
    max-height: 25px;
    max-width: 37px;
    height: auto;
    width: auto;
    margin-top: 37px;
}

#icone-estrela{
    max-height: 25px;
    max-width: 37px;
    height: auto;
    width: auto;
    margin-top: 37px;
    margin-left: 2%;
}

#icone-user{
    max-height: 25px;
    max-width: 37px;
    height: auto;
    width: auto;
    margin-top: 37px;
    margin-left: 2%;

}


img:hover{
    cursor: pointer;
}


#icone-busca :hover{
    cursor: pointer;
    color: whitesmoke;
}

#icone-carrinho :hover{
    cursor: pointer;
    color: whitesmoke;
}

#icone-estrela :hover{
    cursor: pointer;
    color: whitesmoke;
}

#icone-user :hover{
    cursor: pointer;
    color: whitesmoke;
}