#menu ul {
    height: 50px;
    padding-top:0px;
    margin:0px;
    background-color:#0e152b;
    list-style:none;
}

#menu ul li { display: inline; }

#menu ul li a {
    padding: 12px 10px;
    display: inline-block;

    /* visual do link */
    color: #29E5EE;
    text-decoration: none;
    padding-left: 15%;
}

#menu ul li a:hover {
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid #EA0000;
}

.logo {
    height: 200 px;
}