body, html {
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
}

p {
    line-height: 1;
}

#apresentar {
    margin-top: 30px;
    margin-left: 0.5%;
    width: 39%;
    height: 103%;
    background-color: #00ac8d;
    float: left;
    text-align: -webkit-center;
    border-radius: 15px;
}

#logo-apresentar {
    max-height: 300px;
    max-width: 1500px;
    height: auto;
    width: auto;
    margin-top: 30%;    
}

#titulo-apresentar {
    padding-top: 5%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    color: whitesmoke;
}

#informacao-apresentar {
    padding-right: 20%;
    padding-left: 20%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    color: lightgrey;
}

/*------------------------------------*/
#pagamento {
    margin-top: 30px;
    width: 60%;
    height: 100%;
    background-color: whitesmoke;
    float: left;
    text-align-last: center;
}

#alert-pagamento {
    margin-left: 2%;
    margin-right: 2%;
    color: white;
    border: thin solid cyan;
    background-color: #00ac8d;
    border-radius: 5px;
    line-height: 1.5;
}

#pagamento-topico {    
    text-align-last: left;
    margin-left: 200px;
    margin-top: 5%;    
    font-weight: bold;
    color: black;
}

/*------------------------------------*/
#cartoes {
    display: inline-block;    
}

#visa-cartao {
    margin-left: 25px;
    max-width: 300px;
    max-height: 50px;
    height: auto;
    width: auto;
    border: thin solid lightgray;
}

#visa-cartao:hover {
    background-color: lightgray;
    cursor: pointer;
}

#mastercard-cartao {
    max-width: 300px;
    max-height: 42px;
    height: auto;
    width: auto;
    border: thin solid lightgray;
}

#mastercard-cartao:hover {
    background-color: lightgray;
    cursor: pointer;
}


#nubank-cartao {
    max-width: 300px;
    max-height: 40px;
    height: auto;
    width: auto;
    border: thin solid lightgray;
}

#nubank-cartao:hover {
    background-color: lightgray;
    cursor: pointer;
}

#elo-cartao {
    max-width: 300px;
    max-height: 40px;
    height: auto;
    width: auto;
    border: thin solid lightgray;
}

#elo-cartao:hover {
    background-color: lightgray;
    cursor: pointer;
}

#aexpress-cartao {
    max-width: 300px;
    max-height: 60px;
    height: auto;
    width: auto;
    border: thin solid lightgray;
}

#aexpress-cartao:hover {
    background-color: lightgray;
    cursor: pointer;
}

#bigInput{    
    padding:8px;
    border:1px solid #ccc;
    width:400px;
    height: 20px;
    font-size: 16px;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
}

#smallInput{
    padding:8px;
    border:1px solid #ccc;
    width:200px;
    height: 20px;
    font-size: 16px;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
}

/*--------------------------------------------*/
#titular {
    text-align: left;
}

.label-pagamento-cor {
    margin-right: 245px;
    color: gray;
    font-size: small;
}

/*------------------------------------------*/
#numero {    
    text-align: left;
}

/*-----------------------------------------*/
#validade {        
    text-align: left;
}

/*----------------------------------------*/
#cvv {
    text-align: left;
}

/*----------------------------------------*/
#button-efetuar-pagamento {
    border-radius: 5px;
    border: none;
    background-color: #00ac8d;
    color: white;
    box-shadow: 3px 3px 3px 3px lightgray;
    margin-top: 40px;
    margin-bottom: 40px;
    width:440px;
    height: 30px;
    font-size: 20px;
}

#button-efetuar-pagamento:hover{
    border-radius: 5px;
    border: none;
    background-color: lightgray;
    color: white;
}
