body, html {
    height: 100%;
    width: 100%;
}

#login {
    width: 40%;
    height: 100%;
    background-color: #00ac8d;
    float: left;
    text-align: -webkit-center;
}

#form-login {
    display: inline-grid;
    grid-gap: 10px;
}

#logo-login {
    max-height: 300px;
    max-width: 1500px;
    height: auto;
    width: auto;
    padding-top: 15%;    
}

#titulo-login {
    padding-top: 5%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    color: whitesmoke;
}

#informacao-login {
    padding-right: 20%;
    padding-left: 20%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    color: lightgrey;
}

#botao-login {
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #00ac8d;
    border-radius: 8px;
    border-color: whitesmoke;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
    
}

#botao-login:hover{
    background-color: lightgrey;
    cursor: pointer;
}

/*----------------------------------------*/
#cadastro {
    width: 60%;
    height: 100%;
    background-color: whitesmoke;
    float: left;
}

#titulo-cadastro {
    padding-top: 10%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    color: #00ac8d;
}

#facebook-imagem-cadastro {
    max-width:40px;
    max-height:40px;
    width: auto;
    height: auto;
    margin-left: 35%;
}

#google-imagem-cadastro {
    max-width:90px;
    max-height:90px;
    width: auto;
    height: auto;
    margin-left: 5%;
}

#instagram-imagem-cadastro {
    max-width:90px;
    max-height:90px;
    width: auto;
    height: auto;
    margin-left: 3%;
}

#opcao-texto-cadastro {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 5%;
}

#nome-cadastro {
    width: 40%;
    margin-top: 5%;
    margin-left: 30%;
    background-color: white;
    border:thin solid black;
}

#ra-cadastro {
    width: 40%;
    margin-top: 2%;
    margin-left: 30%;
    background-color: white;
    border:thin solid black;
}

#password-cadastro {
    width: 40%;
    margin-top: 2%;
    margin-left: 30%;
    background-color: white;
    border:thin solid black;
}

#botao-cadastro {
    margin-top: 5%;
    margin-left: 35%;
    width: 250px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: #00ac8d;
    border: none;
    border-radius: 8px;
    box-shadow: 3px 3px 3px 3px lightgray;
}

#botao-cadastro:hover{
    background-color: lightgrey;
    cursor: pointer;
}

