<!DOCTYPE html>
<html lang="br-pt">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="css/restauranteDetalhes.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do restaurante</title>

    <link rel="stylesheet" href="css/menu_horizontal.css">
    <link rel="stylesheet" href="fontawesome-free-5.15.1-web/css/fontawesome.min.css">
    <script src="fontawesome-free-5.15.1-web/js/all.min.js"></script>
    <script src="javascript/controlador.js"></script>
    <script src="javascript/usuario.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<body>
    <div class="menu_horizontal">
        <div class="container-fluid">
            <div class="row">
                <div class="col-4" style="text-align: start;">
                    <img id="logo-login" src="image/logoUam.JPG" onclick="window.location='tela_principal.html'">
                </div>
                <div class="col-4" style="text-align: center;">
                    <i class="fas fa-search" id="icone-busca"></i>
                    <input type="text" placeholder="Buscar pratos e restaurantes" class="input-busca">
                </div>
                <div class="col-4" style="text-align: end;">
                    <i class="fas fa-sign-out-alt" id='icone-log-out' onclick='logout()'></i>
                    <i class="fas fa-shopping-cart" id='icone-carrinho' onclick="window.location='carrinho.html'"></i>
                    <i class="fas fa-star" id='icone-estrela'></i>
                    <i class="fas fa-user-alt" id='icone-user' onclick="window.location='mostra_dados.html'"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="img">
        <img src="image/subway3.jpeg" class="img-fluid" alt="Responsive image">
        <div class='col'>
            <div class="row">
                <p id="texto-informacao-painel-titulo">Subway</p>
            </div>
            <div class="row">
                <p id="texto-informacao-painel">• $ - Sanduíche</p>
            </div>
            <div class="row">
                <p id="texto-informacao-painel">• 30-40 min - 4.8 (125) - Preço da entrega: R$ 3.49</p>
            </div>
            <div class="row">
                <p id="texto-informacao-painel">• Campus Vila Olímpia</p>
            </div>
        </div>
    </div>

    <!--
    <div id="vale-restaurante">
        <p id="vale-restaurante-texto">Vale-refeição</p>
        <p id="vale-restaurante-aceita">Aceita Ticket Restaurante ®</p>
    </div>
    -->

    <div class="container-fluid" id="promos">
        <h3>Promoções</h3>
        <div class="row">
            <div class="col-4" id="promo">
                <div class="row">
                    <h5 id="promo-titulo">2 Subs 15cm</h5>
                </div>
                <div class="row">
                    <div class='col'>
                        <p id="promo-desc">Escolha 2 entre os sabores Frango, Frango Empanado e Steak Churrasco...</p>
                        <p id="promo-desc">R$ 22.90</p>
                    </div>
                    <div class='col'>
                        <img id="promo-img" src="image/sub-icon1.JPG">
                    </div>
                </div>
            </div>

            <div class="col-4" id="promo">
                <div class="row">
                    <h5 id="promo-titulo">2 Subs 15 cm + Bebida</h5>
                </div>
                <div class="row">
                    <div class='col'>
                        <p id="promo-desc">Escolha 2 entre os sabores Frango, Frango Empanado e Steak Churrasco...</p>
                        <p id="promo-desc">R$ 27.90</p>
                    </div>
                    <div class='col'>
                        <img id="promo-img" src="image/sub-icon2.JPG">
                    </div>
                </div>
            </div>

            <div class="col-4" id="promo">
                <div class="row">
                    <h5 id="promo-titulo">B.M.T. ® Italiano</h5>
                </div>
                <div class="row">
                    <div class='col'>
                        <p id="promo-desc">O sanduíche que vai acabar com toda a sua fome. Servido em pão...</p>
                        <p id="promo-desc">R$ 21.61</p>
                    </div>
                    <div class='col'>
                        <img id="promo-img" src="image/sub-icon3.JPG">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-4" id="promo">
                <div class="row">
                    <h5 id="promo-titulo">Carne Supreme</h5>
                </div>
                <div class="row">
                    <div class='col'>
                        <p id="promo-desc">Sub com suculentas tiras de carnes? Temos. Acompanhado do delicioso molho...
                        </p>
                        <p id="promo-desc">R$ 21,61</p>
                    </div>
                    <div class='col'>
                        <img id="promo-img" src="image/sub-icon4.JPG">
                    </div>
                </div>
            </div>

            <div class="col-4" id="promo">
                <div class="row">
                    <h5 id="promo-titulo">Frango</h5>
                </div>
                <div class="row">
                    <div class='col'>
                        <p id="promo-desc">Preferência nacional. Frango levemente temperado e assado na perfeição...</p>
                        <p id="promo-desc">R$ 21,61</p>
                    </div>
                    <div class='col'>
                        <img id="promo-img" src="image/sub-icon5.JPG">
                    </div>
                </div>
            </div>

            <div class="col-4" id="promo">
                <div class="row">
                    <h5 id="promo-titulo">Frango Defumado com Cream Cheese</h5>
                </div>
                <div class="row">
                    <div class='col'>
                        <p id="promo-desc">Cubos de frango defumado misturados com o delicioso cream cheese...</p>
                        <p id="promo-desc">R$ 22,80</p>
                    </div>
                    <div class='col'>
                        <img id="promo-img" src="image/sub-icon6.JPG">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-4" id="promo">
                <div class="row">
                    <h5 id="promo-titulo">Frango Empanado</h5>
                </div>
                <div class="row">
                    <div class='col'>
                        <p id="promo-desc">Empanado de Frango. Receita especial do Subway®. Servido em pão...</p>
                        <p id="promo-desc">R$ 18,00</p>
                    </div>
                    <div class='col'>
                        <img id="promo-img" src="image/sub-icon7.JPG">
                    </div>
                </div>
            </div>

            <div class="col-4" id="promo">
                <div class="row">
                    <h5 id="promo-titulo">Frango Ranch</h5>
                </div>
                <div class="row">
                    <div class='col'>
                        <p id="promo-desc">Servido em pão fresquinho, com frango defumado em cubos, molho ranch...</p>
                        <p id="promo-desc">R$ 18,00</p>
                    </div>
                    <div class='col'>
                        <img id="promo-img" src="image/sub-icon8.JPG">
                    </div>
                </div>
            </div>

            <div class="col-4" id="promo">
                <div class="row">
                    <h5 id="promo-titulo">Frango Teriyaki</h5>
                </div>
                <div class="row">
                    <div class='col'>
                        <p id="promo-desc">Experimente o Frango Teriyaki, com pedaços suculentos de peito de frango...
                        </p>
                        <p id="promo-desc">R$ 22,80</p>
                    </div>
                    <div class='col'>
                        <img id="promo-img" src="image/sub-icon9.JPG">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>